[Desktop Entry]
Encoding=UTF-8
Name=Cubic
Comment=Cubic P2P Cryptocurrency
Comment[fr]=Cubic, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cubic, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/cubic-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/cubic;
Categories=Office;
