src/*.exe
src/cubic
src/cubicd
src/test_cubic
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.cubic
#compilation and Qt preprocessor part
*.qm
Makefile
cubic-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store

!src/leveldb/Makefile
